<!DOCTYPE html>
<html>
  <head>
    <title>top</title>
  </head>

  <body>
    <h1>welcome to<b>Bookers</b>  !!</h1>
    <p>you can share and exchange your opinions , inpressions , and emotions</p>
    <p>about varioius books!</p>
    <p><%= link_to "login", new_user_session_path %></p>
    <p><%= link_to "sign up", new_user_registration_path %></p>

  </body>

</html>